{% extends 'base.html' %}
{% load static %}

{% block childpage %}

 <!----------------------------About Us start------------------------->
<div class="container about bg-mycolor4">
<!-- start heading-->
<div class="row bg-mycolor4">
    <div class="col-sm-5 mx-auto text-center my-4">
        <p class="fs-3 m-0">About<b class="txt-color1">  Us
        <i class="fa-solid fa-building"></i>
        </b></p>
        <i>"Empowering minds, enriching lives—our institute stands as a pillar of excellence and lifelong learning."</i>
        <hr/>
    </div>
</div>
<!-- end heading-->

    <div class="fs-4">University At a <b class="txt-color1 fs-3">Glance</b></div><hr/>
    <div class="row mb-3">
        <!----------card  start---------------->
        <div class="col-sm-4 mt-3">
            <div class="text-center"><i class="fa-solid fa-user px-3 py-3 fs-2 bg-info rounded-circle"></i></div>
            <div class="text-center fs-4">Founder</div>
            <div class="text-center fs-5 txt-color1">Assistance of Central Government.</div>
        </div>

        <div class="col-sm-4 mt-3">
             <div class="text-center"><i class=" fa-solid fa-building px-3 py-3 fs-2 bg-info rounded-circle"></i></div>
            <div class="text-center fs-4">Establishment</div>
            <div class="text-center fs-5 txt-color1">Year : 2013</div>
        </div>

        <div class="col-sm-4 mt-3">
             <div class="text-center"><i class="fa-solid fa-building px-3 py-3 fs-2 bg-info rounded-circle"></i></div>
            <div class="text-center fs-4">Alumni and Faculty</div>
            <div class="text-center fs-5 txt-color1">Faculty contributions.</div>
        </div>

    <div class="col-sm-4 mt-3">
            <div class="text-center"><i class="fa-solid fa-location-dot px-3 py-3 fs-2 bg-info rounded-circle"></i></div>
            <div class="text-center fs-4">Location</div>
            <div class="text-center fs-5 txt-color1">Aadampur Tarabganj </br>Gonda(UP)</br>Pin Code : 271401</div>
        </div>

        <div class="col-sm-4 mt-3">
             <div class="text-center"><i class="fa-solid fa-star px-3 py-3 fs-2 bg-info rounded-circle"></i></div>
            <div class="text-center fs-4">Acheivements </div>
            <div class="text-center fs-5 txt-color1">Successfully running three Diploma courses with a student body. </div>
        </div>

        <div class="col-sm-4 mt-3">
             <div class="text-center"><i class="fa-solid fa-square-share-nodes px-3 py-3 fs-2 bg-info rounded-circle"></i></div>
            <div class="text-center fs-4">Social Impact</div>
            <div class="text-center fs-5 txt-color1">Empowering Rural Youth.</br> Employee Opportunities.</br>Community Development.</div>
        </div>
         </div>
<!----------card  end---------------->
 <!----------About Paragraph Section start------------->
    <div style="border-top:6px solid red;width:50px;"></div>
    <div class="fs-4 txt-color1 "><b> About Us</b></div>
    <div class="row about">
        <div class="col-sm-6 px-3 py-3 fs-5">Welcome to <b>Government Polytechnic Aadampur, Tarabganj, Gonda.</b></br>
            This <b>Government Polytechnic</b> is established in 2013 with the assistance of central government with
            the aim of developing rural area and inculcating technical skill in the youth to accept global challenges.</br>
            Three-year Diploma course in <b>Mechanical Engineering (Production)</b> started in year 2013. <b>Mechanical Engineering (Automobile)</b>
            and <b>Computer Science & Engineering</b> started in year 2015. </br>At present three courses are running in this institute.</br>
            This institute is situated at :</br>
            Village-Aadampur Tarabganj</br>
            District-Gonda.</br>
            Pin code : 271401



</div>
        <div class="col-sm-6 px-3 py-3">
            <img src="{% static 'images/c8.jpg' %}" class="img-thumbnail" style="height:350px;width:700px"></div>
    </div>

    <!--------------Mission start--------------->
    <div class="row about">
        <div class="col-sm-6">
            <img src="{% static 'images/c5.jpg' %}" class="img-thumbnail" style="height:350px;width:700px" mt-2/>
        </div>

        <div class="col-sm-6 mt-3">
              <div class="fs-4 txt-color1" style="border-top:6px solid red;width:50px;"><b>Mission</b></div>
        <div class="fs-5">At <b>Government Polytechnic Aadampur Tarabganj Gonda ,</b>
           Our mission is to gives the society good citizens equipped with the technical knowledge , creativity & human values .
             </div>

        <div class="fs-4 txt-color1 mt-3" style="border-top:6px solid red;width:200px;"><b>Education for Life</b></div>
        <div class="fs-5">The education of life is about integrating the wisdom gained from our experiences into a richer, more fulfilling existence.
            By recognizing and valuing the lessons learned through living,  we enhance our personal development and contribute positively to the world around us. </div>
        </div>
    </div>
    <!--------------Mission end--------------->

    <!--------------Vision start--------------->
    <div class="row about mt-4 mb-4">
         <div class="col-sm-6">
             <div class="fs-4 txt-color1" style="border-top:6px solid red;width:50px;"><b>Vision</b></div>
             <div class="px-4 py-4 fs-5">At <b>Government Polytechnic Adampur Tarabganj Gonda</b>
              Our vision is to create a culture of excellence in teaching & learning, where new ideas and research thrive also create an environment leading to the holistic development of students , emergence of creators, innovators, leaders & entrepreneurs of new India.
</br>
                 We aim to push the boundaries of collage art, embracing new techniques, materials,
                 and digital advancements to continually redefine what is possible.



             </div>
         </div>
        <div class="col-sm-6"><img src="{% static 'images/c7.jpg' %}" class="img-thumbnail" style="height:350px;width:700px"/></div>
    </div>
<!--------------Vision end--------------->
    </div>
 <!----------About Paragraph Section end------------->
 <!----------------------------------About Us end---------------------------------->


{% endblock %}
