{% load static %}
<html>
<head>
  <meta charset="UTF-8">
  <title>CHAT</title>

  <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/all.css' %}" rel="stylesheet"/>
        <script src="js/bootstrap.bundle.js"></script>
    <script src="js/bootstrap.js"></script>
	<style>
	#whatsapp
	{
	color:green;
	font-size:20px;
	position:fixed;
	text-align:center;
	text-decoration:none;
	top:20px;
	margin-left:700px;
	}
	</style>

</head>
<body>
  <div>
  <a href="https://wa.me/917398406838?text=Hi..How can I help you?" target=_blank id="whatsapp">
  <i class="fa-brands fa-square-whatsapp"></i> Chat Us</a>
  </div>
</body>
</html>
